@model Sri_Arungarai_Amman_Traders.Models.Chemical

@{
    ViewData["Title"] = "Chemicals - Add";
    ViewBag.Date = DateTime.Today;
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Add a New Chemical Product Details</h1>

<h4>Chemicals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChemicalsCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAvailable" class="control-label"></label>
                <input asp-for="QuantityAvailable" class="form-control" />
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnit" class="control-label"></label>
                <input asp-for="ProductUnit" disabled value="Lit" class="form-control" />
                <span asp-validation-for="ProductUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            

            @*<div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate"  class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ChemicalsIndex">Back to Chemicals List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
