@model Sri_Arungarai_Amman_Traders.Models.Chemical

@{
    ViewData["Title"] = "Edit Chemicals";
    Layout = "~/Views/Shared/AdminLoginLayout.cshtml";
}

<h1>Edit Chemical</h1>

<h4>Chemical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChemicalsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAvailable" class="control-label"></label>
                <input asp-for="QuantityAvailable" class="form-control" />
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ProductUnit" class="control-label"></label>
                <input asp-for="ProductUnit" class="form-control" />
                <span asp-validation-for="ProductUnit" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ChemicalsIndex">Back to Chemicals List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
