@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Sri_Arungarai_Amman_TradersLayout.cshtml";
}

<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
</script>

<div class="text-center">
    <h3 class="display-4 text-dark">WELCOME  TO  SRI  ARUNGARAI  AMMAN  TRADERS</h3>
    <p> <img src="https://icon-library.com/images/admin-login-icon/admin-login-icon-15.jpg" height="50" width="50" /> <a class="link-dark" asp-controller="AdminLogin" asp-action="Login" >Admin Login</a>.</p>
    <p> <img src="https://icon-library.com/images/admin-login-icon/admin-login-icon-15.jpg" height="50" width="50" /> <a class="link-dark" asp-controller="UserLogin" asp-action="Login" >User Login</a>.</p>
    @*<img  src="https://marvel-b1-cdn.bc0a.com/f00000000202033/brenntagprod-media.e-spirit.cloud/06432017-be1f-41ce-8d1d-564e2a66d213/q3p0d9-ecr2nc-528ro3/Agriculture/Tractor-working-in-field-of-wheat_w590xh590.jpg"  height="800px" width="800px" />*@
    @*<p>Go to <a asp-controller="UserLogin" asp-action="Login">User Login</a>.</p>*@
</div>
