@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/Sri_Arungarai_Amman_TradersLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
</script>

<p>Use this page to detail your site's privacy policy.</p>
